#category-lists {
    list-style-type: none;
}

.author-img {
    width: 30%;
    height: 55px;
    border-radius: 50%;
}

#news-details {
    cursor: pointer;
    padding: 10px;
}

#news-details:hover {
    color: blue;
}